@use '../../../../_variables' as *;
.navbar-container{
    padding: 48px 48px 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}  
// brand description
.brand-description{
    color: $text-secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.15px;
}
// user and settings section
.navbar-user-settings-date {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    .settings-and-user{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 8px;
        margin-left: auto;
        .settings-icon,.user-name{
            display: flex;
            width: 36px;
            height: 36px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            background: #FFF;
        }
    }
    .date-updated{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $text-secondary;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
    }
}
