# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://zmebrihit_db_username:Siem2017@marketsense-cx.jv7wruz.mongodb.net/marketsense?appName=marketsense-cx

# CORS Configuration
CORS_ORIGIN=http://localhost:4200

