@use '../../../../../_variables' as *;
.chip {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 6px 10px;
    border-radius: 120px;
    font-size: 13px;
    border: 1px solid $primary-blue;
    background: white;
  }
  .label-text {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    color: $text-primary-dark;
    font-size: 13px;
  }
  .label-name {
    font-weight: 700;
    
  }
  .label-value {
    font-weight: 400;
    
  }
  .close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: $primary-blue;
    color: $bg-white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
  }
  .close:focus { 
    outline: 2px solid $blue-focus-outline; 
  }