<div class="sankey-container">
  <div
    class="sankey-chart-scroll"
    [class.sankey-chart-scroll--embed-in-parent]="embedInParentHorizontalScroll">
    <div
      class="sankey-scroll-pane"
      [style.min-width]="sankeyScrollHostMinWidthCss">
      <div *ngIf="showFlowColumnLabels" class="sankey-flow-labels">
        <span class="sankey-label-outflows">Outflows</span>
        <span class="sankey-label-inflows">Inflows</span>
      </div>
      <div class="regional-sankey"></div>
    </div>
  </div>
</div>

<app-sankey-node-modal
  [isVisible]="showNodeModal"
  [nodeData]="selectedNodeData"
  (close)="closeSankeyNodeModal()">
</app-sankey-node-modal>

