.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}   
// user and settings section
.navbar-user-settings-date {
    display: flex;
    flex-direction: column;
    .date-updated{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #717182;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 133.333% */
    }
}
