<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-brand">
      <a routerLink="/" class="brand-link">
        <img src="assets/images/job-solutions-logo.svg" alt="MarketSense Logo" class="brand-logo">
      </a>
    </div>
    <!-- user and settings section -->
    <div class="navbar-user-settings-date">
      <div class="user-menu">
        <span class="user-name">settings</span>
        <span class="user-name">user</span>
      </div>
      <div class="date-updated">
        <span class="user-name">settings</span>
        <span class="user-name">Last updated: Nov 11, 2025</span>
      </div>
    </div>
  </div>
</nav>

