<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-brand">
      <a routerLink="/" class="brand-link">
        <img src="assets/images/job-solutions-logo.svg" alt="MarketSense Logo" class="brand-logo">
      </a>
      <div class="brand-description">Market signals and asset flow intelligence</div>
    </div>
    <!-- user and settings section -->
    <div class="navbar-user-settings-date">
      <div class="settings-and-user">
        <span class="settings-icon"><img src="assets/images/setting-icon.svg" alt="Settings"></span>
        <span class="user-name">SF</span>
      </div>
      <div class="date-updated">
        <img src="assets/images/calendar-icon.svg" alt="Calendar" class="calendar-icon">
        <span>Last updated: Nov 11, 2025</span>
      </div>
    </div>
  </div>
</nav>

