// Global app styles
// Component-specific styles should be in their respective component files

@use '../_variables' as *;

:host {
  display: block;
  min-height: 100vh;
  background-color: $bg-white;
}