@use '../../../../_variables' as *;

.title-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  margin: 0;
  color: $text-midnight-blue;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.25;

  &--h1 {
    font-size: 28px;
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &--h2 {
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &--h3 {
    font-size: 18px;
    font-weight: 600;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &--h4 {
    font-size: 16px;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  &--h5 {
    font-size: 14px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  &--h6 {
    font-size: 12px;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.subtitle {
  margin: 0;
  color: $text-neutral-750;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
