<div class="filter-root">
    <button type="button" class="btn" (click)="toggle($event)">
      <span class="title">{{ title }}</span>
      <div class="info-btn-wrapper" *ngIf="showInfoTooltip">
        <button type="button" #infoButton class="info-btn" (click)="onInfoClick($event)" aria-label="Info">
          <img src="assets/icons/info-icon.svg" alt="Info" class="info-icon">
        </button>
        <!-- Info Tooltip -->
        <div 
          #tooltip 
          class="info-tooltip" 
          *ngIf="isTooltipOpen"
          (click)="$event.stopPropagation()">
          <div class="tooltip-content">
            {{ getTooltipText() }}
          </div>
          <div class="tooltip-arrow"></div>
        </div>
      </div>
      <span class="count">{{ selected.length || 0 }}/{{ flatOptions.length }}</span>
      <img src="assets/icons/caret-down-icon.svg" alt="Caret Down" class="caret-down-icon">
    </button>

    <div class="panel" *ngIf="open" (click)="onPanelClick($event)">
      <div class="panel-header">
        <div class="panel-title">Select {{ title | lowercase }}</div>
        <button class="select-all" (click)="toggleSelectAll($event)">
          {{ allSelected() ? 'Deselect All' : 'Select All' }}
        </button>
      </div>

      <!-- Grouped Options -->
      <div class="options" *ngIf="isGrouped">
        <div *ngFor="let group of groupedOptions" class="option-group">
          <div class="group-label">{{ group.category }}</div>
          <label class="option grouped-option" *ngFor="let opt of group.options">
            <div class="checkbox-wrapper">
              <input type="checkbox" [(ngModel)]="pendingMap[opt.value]" (change)="onChange()" />
              <span class="checkmark"></span>
            </div>
            <span class="opt-label">{{ opt.label || opt.value }}</span>
          </label>
        </div>
      </div>

      <!-- Regular Options -->
      <div class="options" *ngIf="!isGrouped">
        <label class="option" *ngFor="let opt of options">
          <div class="checkbox-wrapper">
            <input type="checkbox" [(ngModel)]="pendingMap[opt.value]" (change)="onChange()" />
            <span class="checkmark"></span>
          </div>
          <span class="opt-label">{{ opt.label || opt.value }}</span>
        </label>
      </div>

      <div class="horizontal-divider"></div>

      <div class="panel-footer">
        <button class="done" (click)="done($event)">Done</button>
      </div>
    </div>
</div>

