<div class="filters-root">
    <div class="filters-container">
      <span class="filters-label">Filters:</span>
      <div class="filters-list">
        <app-filter-dropdown
          title="Investor Region"
          [options]="investorRegionOptions"
          [selected]="state.investorRegion"
          (selectedChange)="onChange('investorRegion', $event)"
        ></app-filter-dropdown>

        <app-filter-dropdown
          title="Investor Type"
          [options]="investorTypeOptions"
          [selected]="state.investorType"
          (selectedChange)="onChange('investorType', $event)"
        ></app-filter-dropdown>

        <app-filter-dropdown
          title="Product Region"
          [options]="productRegionOptions"
          [selected]="state.productRegion"
          (selectedChange)="onChange('productRegion', $event)"
        ></app-filter-dropdown>

        <app-filter-dropdown
          title="Product Type"
          [options]="productTypeOptions"
          [selected]="state.productType"
          (selectedChange)="onChange('productType', $event)"
        ></app-filter-dropdown>

        <app-filter-dropdown
          title="Product Sub-Type"
          [options]="productSubTypeOptions"
          [selected]="state.productSubType"
          (selectedChange)="onChange('productSubType', $event)"
        ></app-filter-dropdown>
      </div>
      <div class="clear-all-container">
        <button class="clear-all" (click)="clearAll()">Clear All Filters</button>
      </div>
    </div>
    <div class="include-medium-confidence-container">
      <input type="checkbox" [(ngModel)]="includeMediumConfidence" />
      <span>Include Medium AI Confidence</span>
    </div>
  
    <div class="horizontal-divider" *ngIf="chips?.length"></div>
    <app-selected-filters-list
      *ngIf="chips?.length"
      [chips]="chips"
      (remove)="removeChip($event)"
    ></app-selected-filters-list>
</div>
