.filters-root {
    background: #fff;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 4px rgba(0,0,0,0.06);
}
.filters-container { 
    display:flex; 
    align-items:center; 
    gap:12px; 
    flex-wrap:wrap; 
}
.filter-icon-container {
    display:flex;
    align-items:center;
    gap:8px;

    color: #717182;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.15px;
}
.filters-list { 
    display:flex;
    gap:12px; 
    
}
.clear-all-container { 
    margin-left: auto;
    padding: 12px;
}
.include-medium-confidence-container { 
    display:flex; 
    gap:8px; 
    align-items:center; 
    margin-left: 60px;
    margin-top:4px;

    color: #0A0A0A;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px; 
    letter-spacing: -0.15px;

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        background: #F3F3F5;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        
        &:checked {
            background-color: #0B41AD;
            border-color: #0B41AD;
            
            &::after {
                content: '';
                position: absolute;
                left: 4px;
                top: 1px;
                width: 4px;
                height: 7px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }
}
.clear-all { 
    background:none; 
    border:none;  
    cursor:pointer; 
    font-family: Inter;
    color: #717182;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.15px;
}

