.sankey {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 800px;
    max-height: 800px;
    position: relative;
    
    svg {
      overflow: hidden;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }