.sankey {
    width: 100%;
    height: auto;
    overflow: hidden;
    min-height: 900px;
    position: relative;
    
    svg {
      overflow: visible;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }