// ===============BRAND COLORS=============================

// Primary colors
$primary-colors-midnight-blue: #00113F;
$primary-colors-sky-blue: #C7EAFF;
$white: #FFFFFF;
$black: #000000;

// Secondary - Gold
$secondary-colors-gold-1000: #C5730B;
$secondary-colors-gold-750: #FFB70E;
$secondary-colors-gold-500: #FFD581;
$secondary-colors-gold-250: #FFF1D4;

// Secondary - Blue
$secondary-colors-blue-750: #0C42FE;
$secondary-colors-blue-500: #77B1FF;

// Secondary Green
$secondary-colors-green-1000: #2A6907;
$secondary-colors-green-750: #5FB62C;
$secondary-colors-green-500: #A7D888;
$secondary-colors-green-250: #DAE8D2;

// Secondary Purple
$secondary-colors-purple-1000: #540472;
$secondary-colors-purple-750: #841DD9;
$secondary-colors-purple-500: #D9A7FF;
$secondary-colors-purple-250: #F4E5FF;

// Neutral Colors
$neutral-colors-neutral-1000: #35342F;
$neutral-colors-neutral-750: #6F6E6A;
$neutral-colors-neutral-500: #B1ADA8;
$neutral-colors-neutral-250: #F5F1EB;

// Traffic colors
$traffic-colors-success-green: #2A6907;
$traffic-colors-danger-crimson: #BE2E2C;
$traffic-colors-warning-yellow: #FFB70E;

// Red Colors (Negative/Outflow)
$red-light: #fca5a5;
$red: #f87171;
$red-dark: #ef4444;
$red-link: #FCA5A5;
$red-accent: #fb2c36;
$red-negative: #e7000b;
$red-badge: #d4183d;

// Gray Shades
$gray-darker: #374151;

// Background Colors
$bg-white: #ffffff;
$bg-cream: #F8F6F1;

$bg-light: #ececf0;
$bg-light-opacity: rgba(236, 236, 240, 0.3);
$bg-gray-light: #f9fafb;
$bg-neutral: #e8e9eb;
$bg-gray-medium: #e5e7eb;
$bg-gray-darker: #4b5563;
$bg-gray-lighter: #ECEEF2;
$bg-gray-lightest: #F3F3F5;
$bg-gray-dark: #6b7280;

$bg-midnight-blue: $primary-colors-midnight-blue;
$bg-sky-blue: $primary-colors-sky-blue;
$bg-gold-250: $secondary-colors-gold-250;
$bg-gold-500: $secondary-colors-gold-500;
$bg-gold-750: $secondary-colors-gold-750;
$bg-gold-1000: $secondary-colors-gold-1000;

// Text Colors
$text-midnight-blue: $primary-colors-midnight-blue;
$text-primary-sky-blue: $primary-colors-sky-blue;
$text-neutral-1000: $neutral-colors-neutral-1000;
$text-neutral-750: $neutral-colors-neutral-750;
$text-neutral-500: $neutral-colors-neutral-500;
$text-neutral-250: $neutral-colors-neutral-250;
$text-secondary: #717182;

// Border Colors
$border-light: rgba(0, 0, 0, 0.1);
$border-medium: rgba(0, 0, 0, 0.12);
$border-gray: #b3b3b3;
$border-gray-light: #c4c4c4;
$border-gray-medium: #d1d5dc;
$border-gray-dark: #e5e7eb;

// Opacity Overlays
$overlay-light: rgba(0, 0, 0, 0.05);
$overlay-medium: rgba(0, 0, 0, 0.1);
$overlay-dark: rgba(0, 0, 0, 0.12);
$overlay-gray: rgba(86, 86, 86, 0.1);
$overlay-gray-light: rgba(86, 86, 86, 0.05);
$overlay-shadow-light: rgba(0, 17, 63, 0.20);
$overlay-shadow-medium: rgba(0, 0, 0, 0.08);
$overlay-shadow-dark: rgba(0, 0, 0, 0.1);
$modal-overlay-background: rgba(0, 0, 0, 0.5);

$filters-height-desktop: 56px;
$filters-height-condensed: 45px;
$filters-height-mobile: 56px;
$filters-height-tablet: 40px;
$filters-height-desktop-large: 64px;



// Button colors
$button-background-primary: $secondary-colors-gold-750;
$button-color-primary: $text-midnight-blue;
$button-disabled-opacity: 0.5;

// Hover colors
$filter-border-hover-color: $primary-colors-midnight-blue;
$card-border-hover-color: $primary-colors-midnight-blue;
$button-hover-background: $secondary-colors-gold-500;
$suggestion-btn-hover-background: $bg-sky-blue;
$time-horizon-handle-hover-background: $bg-sky-blue;
$profile-hover-background: $bg-sky-blue;
$window-btn-hover-background: $bg-sky-blue;
$filter-hover-background: $bg-sky-blue;
$card-hover-background: $bg-sky-blue;
$dropdown-hover-background: $bg-sky-blue;
$sticky-btn-hover-background: $bg-sky-blue;



