/* You can add global styles to this file, and also import other style files */

@use '_variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: $bg-cream;
}

// Ensure main content doesn't overlap with sticky header
app-root {
  display: block;
  min-height: 100vh;
}
.horizontal-divider { 
  height: 1px;
  width: 100%;
  background: $secondary-colors-gold-750;
  margin: 12px 0;
}
