@use '_variables' as *;

.treemap-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  // min-height: 600px;
  position: relative;
  border-radius: 10px;
  border: 1px solid $border-light;

  svg {
    overflow: visible;  
    display: block;
    max-width: 100%;
    height: auto;
  }

  .treemap-tooltip {
    font-family: inherit;
  }

  .region-label {
    font-family: inherit;
    text-align: left;
  }

  .cell-label-name,
  .cell-label-value,
  .cell-label-percentage {
    font-family: inherit;
    pointer-events: none;
  }

  .legend {
    font-family: inherit;
  }
}



