<div class="reallocation-treemap-container">
  <div class="chart-container"></div>
  <div class="legend-container">
    <div class="legend-item">
      <span class="legend-color" style="background-color: #6EE7B7;"></span>
      <span class="legend-label">Inflows</span>
    </div>
    <div class="legend-item">
      <span class="legend-color" style="background-color: #FCA5A5;"></span>
      <span class="legend-label">Outflows</span>
    </div>
    <div class="legend-item">
      <span class="legend-color" style="background-color: #4D93D9;"></span>
      <span class="legend-label">Net New Capital</span>
    </div>
  </div>
</div>

