<div class="time-horizon-container time-horizon-filter-card">
  <div class="label-with-info">
    <label class="toggle-label">Time Horizon:</label>
    <div class="info-btn-wrapper">
      <button
        type="button"
        class="info-btn"
        (click)="onInfoButtonClick($event)"
        aria-label="Time Horizon Info">
        <img src="assets/icons/info-icon.svg" alt="Info" class="info-icon" />
      </button>
      <div
        class="info-tooltip"
        *ngIf="infoTooltipOpen"
        (click)="$event.stopPropagation()">
        <div class="tooltip-content">
          {{ infoTooltipText }}
        </div>
        <div class="tooltip-arrow"></div>
      </div>
    </div>
  </div>

  <div class="time-horizon-slider-wrapper time-horizon-slider-wrapper-full">
    <div
      class="time-horizon-slider-container time-horizon-slider-container-full"
      #timeHorizonSliderFull
      (mousedown)="onTrackClick($event)"
      (click)="onTrackClick($event)"
      (touchend)="onTrackClick($event)">
      <div class="time-horizon-slider-track">
        <div class="time-horizon-dots">
          <div
            class="dot"
            *ngFor="let horizon of horizons; let i = index"
            [class.dot--today]="i === todayIndex"
            [class.dot--in-active-range]="isTickInActiveRange(i)"
            [style.left.%]="(i / (horizons.length - 1)) * 100"></div>
        </div>
        <div class="time-horizon-track-background"></div>
        <div
          class="time-horizon-track-active"
          [style.left.px]="getActiveTrackLeft()"
          [style.width.px]="getActiveTrackWidth()"></div>
      </div>

      <div
        class="time-horizon-handle-cluster time-horizon-handle-cluster-start"
        [style.left.px]="getHandlePosition('start')">
        <div
          class="time-horizon-value-tooltip"
          [class.time-horizon-value-tooltip--spread-start]="tooltipsTooClose()">
          {{ handleTooltipDate('start') }}
        </div>
        <div
          class="time-horizon-handle time-horizon-handle-start"
          (mousedown)="startDrag($event, 'start')"
          (touchstart)="startDrag($event, 'start')"
          (click)="$event.stopPropagation()"></div>
      </div>

      <div
        class="time-horizon-handle-cluster time-horizon-handle-cluster-end"
        [style.left.px]="getHandlePosition('end')">
        <div
          class="time-horizon-value-tooltip"
          [class.time-horizon-value-tooltip--spread-end]="tooltipsTooClose()">
          {{ handleTooltipDate('end') }}
        </div>
        <div
          class="time-horizon-handle time-horizon-handle-end"
          (mousedown)="startDrag($event, 'end')"
          (touchstart)="startDrag($event, 'end')"
          (click)="$event.stopPropagation()"></div>
      </div>
    </div>

    <div class="time-horizon-labels" [class.time-horizon-labels--compact]="compactAxis">
      <span
        class="time-horizon-label"
        *ngFor="let horizon of horizons; let i = index"
        [class.time-horizon-label--active]="isLabelActive(i)"
        [class.time-horizon-label--today]="i === todayIndex"
        [class.time-horizon-label--anchor]="i === todayIndex"
        [style.left.px]="milestoneCenterPx(i)"
        [style.transform]="axisLabelTransform(i)"
        [attr.aria-label]="horizon"
        (click)="onLabelClick(i, $event)"
        (touchend)="onLabelClick(i, $event)">
        {{ tickLabel(i) }}
      </span>
    </div>
  </div>
</div>
